body,
html {
    width: 100%;
    height: 100%;
    font-family: 'poppins', sans-serif;
    user-select: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0 20px;
}

.modal {
    font-size: 1.2rem;
}

.modal-content {
    padding: 20px;
    border-radius: 30px;
}

.modal-title {
    font-size: 2rem;
}

input {
    margin-bottom: 10px;
}

#login-button {
    margin-top: 30px;
}

.logged-in,
.logged-out {
    display: none;
}

#chat-dialog {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

#chat-window {
    height: 400px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.15)
}

#output p {
    padding: 14px 0px;
    margin:20px 10px 10px 10px;
    margin: 0 20px;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

.md-form {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}